.padding-class {
	padding : 10px;
}

.equal-width-th {
	width : 50%;	
}

.btn-float-right {
	float : right;
	margin-right : 20px;
}

.large-text {
	font-size : 20px;
}

.text-align-center{
	text-align:center;
}